@media #{$below-tablet} {
    .gNYTvC{
        padding: 0px; 
        text-align: left;
    }

    .bZmSKj.using-icon{
    display: none !important; 
    }

    .ctPSsp.right{
        display: none !important; 
    }

    #portfolio{
        padding-bottom: 40px; 
        padding-top: 40px; 
    }

    .container--grid {
        grid-gap: 1%;
        grid-template-columns: 99%;
        grid-template-rows: 19% 19% 19% 19% 19%;

        .grid__item{
            .grid__item__header h4:nth-child(1) {
                font-size: 20px;
            }
        }

        .grid__item:nth-child(1) {
            grid-row: 1;
            grid-column: 1;
        }

        .grid__item:nth-child(2) {
            grid-row: 2;
            grid-column: 1;
        }

        .grid__item:nth-child(3) {
            grid-row: 3;
            grid-column: 1;
        }

        .grid__item:nth-child(4) {
            grid-row: 4;
            grid-column: 1;
        }

        .grid__item:nth-child(5) {
            grid-row: 5;
            grid-column: 1;
        }
    }

}