#contact{
    background: $grey; 
    position: relative; 

    .container{
        width: 100%; 
        text-align: center;
        z-index: 999999;
        position: relative;
  
        h1, h5, h4, p{
            color: white; 
        }
    }

    &:before{
        width: 100%; 
        content: ''; 
        height: 100%;
        position: absolute;
        background: url('../../assets/footerPatternBubble.svg');
        z-index: 0;
        background-size: 67%;
        top: 0%;
        opacity: 0.4;
    }
}