#experience{
background-color: rgba(255, 229, 159, .1);
}

.gNYTvC {
    border-radius: 0rem;
    font-size: 1.05rem;
}

.vertical_alternating, .vertical{
    header{
        display: none; 
    }
}

.timelinestyle__TimelineControlContainer-sc-cif21b-4{
    display: none; 
}

.hyKFOX{
   max-height: 300px; 
}

.isHFTi.active{
    background: none !important; 
    color: $grey !important;  
}

.timeline-item-title.kkwCJv {
    @extend h3; 
    font-size: 1.2rem;
    font-weight: 900;
    padding-bottom: inherit; 
}

.timeline-controlstyles__TimelineControlContainer-sc-1apb8f9-3{
    display: none !important;  
}

.cmtZPO, .cytfTK, .iLAhXv, .bZmSKj{
    border-radius: 0%;
    height: 25px !important; 
    width: 25px !important; 
}

.timeline__block{
    padding: 30px 10px; 
    width: 100%; 

    h3{
        @include fluid-type(28, 22);
    }

    h5{
        font-weight: 500;
        @include fluid-type(18, 16);
    }

    ul{
        padding-top: 20px; 

        li{
            text-align: left;
            margin-left: 0px; 
        }
    }
}

#skills{
    .container__intro{
        padding-left: 40px;
    }

    h6{
        padding-bottom: 20px;
    }

    svg{
        font-size: 20px;
    }

    .container--flex-row{
        width: 100%;
    }
}

.container__skills-set{
    text-align: center;

    .skills-set__title{
        border-radius: 20px;
        margin: 0px auto 20px; 

        h4{
            position: relative;
            width: fit-content;
            margin: auto; 

            &:before{
                content: "";
                width: 80px;
                height: 80px;
                position: absolute;
                left: -27px;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
                opacity: .4;
                top: -20px;
            }
        }

    }

    &:nth-child(odd){

        ul{
            list-style-image: url('../../assets/dotyellow.svg');
        }

        .skills-set__title{
            h4{
                &:before{
                    background-image: url('../../assets/dotyellow.svg');
                }
            }
        }
    }

    &:nth-child(even){

        ul{
            list-style-image: url('../../assets/shapes.svg');
        }

        .skills-set__title{
            h4{
                &:before{
                    background-image: url('../../assets/shapes.svg');
                }
            }
        }
}

    ul{
        border-radius: 20px;
        padding: 20px 40px 20px 40px;
    }

}

.container--skills-chart{
    background-color: #fff;
    padding: 40px 20px 40px 20px;
    border-radius: 20px;


     .chart__item{

        div div{
            background-color: $blue;
            border-radius: 20px;
        }


        p{
            padding-bottom: 5px;
        }

        p:nth-child(1){
            font-weight: 900;
        }
    }

    .chart-bar{
        height: 10px;
        width: 100%;
        background-color: #e0e0de;
        margin-bottom: 45px; 
        border-radius: 20px; 
    }
}

.fEcclZ{
    overflow: initial !important;
}
