header{
    @include fluid-prop(padding-top, 100, 80);
    position: relative; 
    @include backgroundYellowLines; 
    z-index: 10;
    
    .container{
        background: linear-gradient(to bottom, transparent 69%, #ffffff 58%, #484963 58%, #484963 58%, #484963 68%, #484963 100%);
        padding-bottom: 0px; 

        &.container--flex-column:before{
            width: 100%; 
            content: ''; 
            height: 100%;
            position: absolute;
            background: url('../../assets/footerPatternBubble.svg');
            z-index: 10;
            background-size: 78%;
            top: 0%;
            opacity: 0.5;
        }

    }

    position: relative; 
        
    .header__scroll {
            color: $grey;
            transform: rotate(90deg);
            position: absolute;
            top: 54%;
            right: calc(20% - 40px); 
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000; 
    
        img{
                margin: 0px 40px;
                transform: rotate(270deg);
        }
    
        @media #{$below-max-width} {
                display: none;
        }
    
        &:hover {
                cursor: pointer;
        }
    
        p {
                @include header();
                color: $grey#58585A;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 13px;
                text-align: center;
                padding: 0px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 900;
                margin-right: 10px; 
        }
    }

    .container__columns-10{
        text-align: center;

        h5{
            font-weight: bold;
        }
    }

    img{
        width: 300px;
        height: 300px;
        object-fit:contain; 
    }

    .header__image{
        clip-path: ellipse(150px 142px at 50% 50%);
        background: $salmon;
        z-index: 10;
      
    }

    .nav-bar, .header__socials{
        position: absolute; 
        display: flex; 
        flex-direction: column;
        gap: 10px;
    }
    
    .nav-bar{
        top: 43%;
        right: calc(20% - 40px);
    
        a{
            display: flex;
            align-items: center;
            justify-content: center;
    
            svg{
                font-size: 20px; 
                margin: 5px; 
            }
        } 
        
        &::before{
            content: ''; 
            width: 2px; 
            position: absolute;
            height: 25px; 
            background: $grey; 
            top: -30px;
            left: calc(50% - 2px);
        }
    
        &::after{
            content: ''; 
            width: 2px; 
            position: absolute;
            height: 25px; 
            background: $grey; 
            bottom: -30px;
            left: calc(50% - 2px);
        }
    
        a.nav__link svg{
            fill: $grey; 
        }
    }

    .header__socials{
        top: 43%;
        left: calc(20% - 40px);

        a svg{
            font-size: 20px; 
            margin: 5px; 
        }

        a.header__social-link svg{
            fill: $grey; 
        }
    }

   
}