/*
 |----------------------------------------------------------------
 |  Fluid Property
 |----------------------------------------------------------------
 */
 @mixin fluid-prop($property, $max, $min: null, $maxScreen: 1200, $minScreen: 320, $unit: 'px') {
    #{$property}: calc(#{$min}#{$unit} + 1.5625vw);  
  
    @media screen and (min-width: #{$maxScreen}#{$unit}) {
      #{$property}: calc(#{$max}#{$unit} + 1.5625vw);
    }
  }
  

  @mixin fluid-type($max-value: 21, $min-value: 12, $minScreen: 420, $maxScreen: 1200, $unit: 'px') {

    font-size: calc(#{$min-value}#{$unit} + (#{$max-value} - #{$min-value}) * (100vw - #{$minScreen}#{$unit}) / (#{$maxScreen} - #{$minScreen}));
    
    @media screen and (max-width: $minScreen) {
      font-size: $min-value;
    }
    @media screen and (min-width: $maxScreen){
      font-size: $max-value;
    }
  }

  @mixin fluid-line-height($max-value: 21, $min-value: 12, $minScreen: 420, $maxScreen: 1200, $unit: 'px') {

    line-height: calc(#{$min-value}#{$unit} + (#{$max-value} - #{$min-value}) * (100vw - #{$minScreen}#{$unit}) / (#{$maxScreen} - #{$minScreen}));
    
    @media screen and (max-width: $minScreen) {
      line-height: $min-value;
    }
    @media screen and (min-width: $maxScreen){
      line-height: $max-value;
    }
  }


  /*
 |----------------------------------------------------------------
 |  Blocks Layout
 |----------------------------------------------------------------
 */

 @mixin container--flex() {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    max-width: $max-width;
 }

 @mixin container--flex-row() {
    @include container--flex(); 
    flex-direction: row;
 }

 @mixin container--flex-column() {
    @include container--flex(); 
    flex-direction: column;
 }

 @mixin columns-spread($num, $divider: 12) {
    flex-basis: calc(#{$num} / #{$divider} * 100%);
    max-width: calc(#{$num} / #{$divider} * 100%);
}

/*
|----------------------------------------------------------------
|  Button Base/Mixin
|----------------------------------------------------------------
*/

@mixin button() {
    @include copy;
    @include fluid-prop(margin-right, 5, 2);
    @include fluid-prop(margin-left, 5, 2);
    border:              none;
    background-color:    transparent;
    font-size:           14px;
    font-weight:         600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    line-height:         20px;
    text-align:          center;
    transition-duration: .2s;
    transition-property: background-color, color, border, opacity, transform;
    display:             inline-flex;
    align-items:         center;
    justify-content:     center;
    padding:             12px 25px;
    border-radius:       6px;
    min-width:           180px;
    min-height:          60px;
    cursor:              pointer;
    position:            relative;
    text-decoration:     none;
    text-shadow:         none;
    outline:             none;
    transition: all ease-in-out 0.25s;

}



@mixin button-one {
    color:      $white;
    background: $salmon;

    &:hover {
        background: $grey;
        color: $white;
    }
}

@mixin button-two {
    color:      salmon;
    background: transparent;
    border: 2px solid $salmon; 

    &:hover {
        background: $salmon;
        color: white; 
    }
}

@mixin read-more() {
    @include header; 
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $grey;
    display:         inline-block;
    text-decoration: none;
    font-style:      normal;
    padding:         0px;
    min-width:       unset;
    min-height:      unset;
    padding-bottom:  3px;
    transition:      all .2s;
    letter-spacing: 0.15em;
    line-height:     20px;
    text-align:      center;
    position:        relative;
    width:           fit-content;
    position: relative;

    
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background: $grey;
        transition: all ease-in-out 0.2s;
    }

    &:hover {
        color: $salmon;
        cursor: pointer;

        &:after {
            background: $salmon;
        }
    }


    i {
        margin-left: 8px;
    }
}

@mixin download() {
    font-family: 'proxima-nova', sans-serif;
    display:         inline-block;
    text-decoration: none;
    font-style:      normal;
    padding:         0px;
    min-width:       unset;
    min-height:      unset;
    padding-bottom:  3px;
    transition:      all .2s;
    font-size:       15px;
    font-weight:     500;
    letter-spacing: 0.15em;
    line-height:     20px;
    text-align:      center;
    position:        relative;
    width:           fit-content;
    color:           black; 	
    text-transform: uppercase;
    position: relative;

    
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background: $black;
        transition: all ease-in-out 0.2s;
    }

    &:before {
        position: absolute;
        content: "\f019";
        font-weight: 600;
        right: 0px;
        bottom: 3px !important;
        opacity: 0;
        color: $black;
        transition: all ease-in-out 0.2s;
    }

    &:hover {
        color: $black;

        &:after {
            width: calc(100% + 20px);
        }

        &:before {
            opacity: 1;
            transform: translateX(22px);
            transition: all ease-in-out 0.2s;
        }
    }


    i {
        margin-left: 8px;
    }
}

 /*
|----------------------------------------------------------------
|  Typo
|----------------------------------------------------------------
*/

@mixin header() {
    font-family: 'Gothic A1', sans-serif;
	font-style:  normal;
	font-weight: 900;
}

@mixin copy() {
    font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
}

/*
 |----------------------------------------------------------------
 |  Overlay Pseudo
 |----------------------------------------------------------------
 */
 @mixin overlay($pseudo: 'after') {
    position: relative;
  
    &:#{$pseudo} {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @content;
    }
  }

  @mixin overlay-color($overlayColor, $hoverColor: false, $pseudo: 'after') {
    z-index: 0;
    @include overlay($pseudo: $pseudo) {
      background-color: $overlayColor;
      transition-duration: 250ms;
      transition-property: background, transform, opacity;
      // z-index: -1;
  
    }
  
    @if $hoverColor != false {
      &:hover:#{$pseudo} {
        background-color: $hoverColor;
      }
    }
  }

 /*
|----------------------------------------------------------------
| Other
|----------------------------------------------------------------
*/

@mixin backgroundYellowLines() {
    background-image: url('../../assets/lines.png');
}