 .container--grid{
   display: grid;
   grid-gap: 30px;
   grid-template-columns: 30% 30% 40%;
   background-color: #fff;
   color: #444;
   grid-template-rows: 400px 400px; 


   .grid__item{
         @include overlay-color(rgba(246, 154, 148, 0.3));
         color: #fff;
         border-radius: 5px;
         font-size: 150%;
         position: relative;

         .grid__item__header{
            position: absolute;
            left: 0px; 
            bottom: 0px;
            padding: 20px 40px; 
            z-index: 1000;
            width: 100%;
            flex-wrap: nowrap;
            // background: rgba(72, 73, 99,1);
            background-color: rgb(246, 154, 148);
            padding: 20px;
            align-items: baseline;
            min-height: 150px;

            h4:nth-child(1){
               font-weight: 900;
               padding-bottom: 10px; 
            }
         }

         svg{
            fill: white;
         }

         .image-container{
            position: relative;
            height: 100%; 
            width: 100%; 

            img{
               width: 100%; 
               height: 100%; 
               object-fit: cover;
            }
         }

         &:nth-child(1){
            grid-column: 1 / span 1;
         }

         &:nth-child(2){
            grid-column: 2 / span 1;
         }

         &:nth-child(3){
            grid-column: 3 ;
            grid-row: 1 / span 2; 
         }

         &:nth-child(4){
            grid-column: 1 ;
            grid-row: 2 ;
         }

         &:nth-child(5){
            grid-column: 2;
            grid-row: 2;
         }
   }
 }




 
 .container--flex-row{
    @include container--flex-row(); 
 }

 .container--flex-column{
    @include container--flex-column(); 
    margin: auto;
 }

 .container--flex-center{
    justify-content: center;
    align-items: center;
 }

 .container--flex-space-between{
   justify-content: space-between;
   align-items: center;
}

.container {
    @include fluid-prop(padding-top, 30, 20);
    @include fluid-prop(padding-bottom, 30, 20);
}

.container__columns-11{
   @include columns-spread(11);
   margin: 0 auto; 
}

.container__columns-10{
    @include columns-spread(10);
    margin: 0 auto; 
}

.container__columns-8{
   @include columns-spread(8);
    margin: 0 auto;
}

.container__columns-7{
   @include columns-spread(7);
   margin: 0 auto;
}

.container__columns-6{
   @include columns-spread(6);
   margin: 0 auto;
}

.container__columns-5{
   @include columns-spread(5);
   margin: 0 auto;
}

.container__columns-4{
   @include columns-spread(4);
   margin: 0 auto;
}

.cta {
   @include fluid-prop(padding-top, 5, 1);
   @include fluid-prop(padding-bottom, 10, 10);
}


